* {
    border: 1px solid black;
    margin: 0px 0px;
}
.container {
    background-color:skyblue;
    width: 970px;
    min-height: 800px;
    margin: 0px auto;
}
.header {
    background-color:rgb(24, 104, 51);
    width: 970px;
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header div {
    width: 200px;
    height: 90px;
    background-color: skyblue;
    margin: 0px 5px;
}
 .nav-bar {
    background-color:rgb(168, 111, 26);
    width: 840px;
    min-height: 40px;
    margin: 0px auto;
}
.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.nav-bar li {
    width: 80px;
    height: 40px;
    background-color: skyblue;
    list-style-type: none;

 
}

.main {
    background-color:rgb(107, 25, 83);
    width: 970px;
    min-height: 300px;
}
.info {
    background-color:rgb(187, 47, 70);
    width: 970px;
    min-height: 250px;
}
.footer {
    background-color:rgb(123, 189, 18);
    width: 970px;
    min-height: 100px;
}